body {

    background-image: url(ChatGPT\ Image\ 31\ de\ dez.\ de\ 2025\,\ 12_21_40.png);
              background-size: cover;
              background-position: center;
           
}

.A1,.u2 {
     font-style: unset;
        margin: 30PX;
        border: 3px solid rgb(122, 25, 25);
        border-radius: 10PX;
        box-sizing: content-box;
        width: 230PX;
        height: 49PX;
        align-content: center;
              
        background-image:url(ChatGPT\ Image\ 31\ de\ dez.\ de\ 2025\,\ 12_21_40.png)
}
.u1{ margin-left: 5%;
    color: #ffffff;
}
h1 {
    color: white;}

.u2 {margin-left: 80%;}