body {  background-image: url(ChatGPT\ Image\ 31\ de\ dez.\ de\ 2025\,\ 12_21_40.png);
    align-content: center;
   text-align: center;
   
  size: 100%;
        margin: 0%;
}

* {color: white;
  
}
.LOGO {
 width: 50px;
 Height: auto;
 display: block;
    margin-left: 47%;
}
