body {background-color:red;}
*  {margin-left: 10%;
}
a {color:red;}

.BOTAO {
  margin-left: 20%;
  font-size: 30px;
   font-style: italic;

          width: 185px;
       height: 45px;
       background-color:black;
       border: 5px;
  text-align: center;
}

.COPYRIGHT {margin-bottom: 30px;}