body {background-image: url(ChatGPT\ Image\ 31\ de\ dez.\ de\ 2025\,\ 12_21_40.png);
   align-content: center;
   text-align: center;
   
  size: 100%;
}
a {color:rgb(255, 255, 255);}

.BOTAO {
  align-items: center;
  font-size: 30px;
   font-style: italic;

          width: 50px;
       height: 45px;
       background-color:rgba(111, 103, 233, 0.39);
       border:solid 2px white ;
  text-align: center;
  inline-size: inherit;
}
* {color: white;}

.COPYRIGHT {margin-bottom: 30px;
 text-align: end ;

}
.logi {
  width: 200px;
  height: auto;
  margin-top: 20px;
}
.TEXT2 {
 margin-left: 30px;
}