body {background-image: url(ChatGPT\ Image\ 31\ de\ dez.\ de\ 2025\,\ 12_21_40.png);
   align-content: center;
   text-align: center;
   
  size: 100%;
}
a {color:rgb(255, 255, 255);}

* {color: white;}

.COPYRIGHT {margin-bottom: 30px;
 text-align: end ;

}
.logi {
  width: 200px;
  height: auto;
  margin-top: 20px;
}
.TEXT2 {
 margin-left: 30px;
}

.uu{
     font-style: unset;
        margin: 30PX;
        border: 3px solid rgb(122, 25, 25);
        border-radius: 10PX;
        box-sizing: content-box;
        width: 230PX;
        height: 49PX;
        align-content: center;
              
        background-image:url(ChatGPT\ Image\ 31\ de\ dez.\ de\ 2025\,\ 12_21_40.png);

        margin-left: 40%;
}
