html, body {
  margin: 0; 
  padding: 0; 
  width: 100%;
  height: 100%; } 

body {background-color: red;
  align-content: center;
   margin-left: 25%;
    
}

a {font-style: italic;
 color:rgb(255, 255, 255)


}
* {font-size: 25PX;
        font-style: italic;
        
}