body {
      margin: 5%;
      align-content: center;
      text-align: center; 
      background-image: url(ChatGPT\ Image\ 31\ de\ dez.\ de\ 2025\,\ 12_21_40.png);
      size: 100%;
}
* {
  color: white;
}
.logi {
  width: 200px;
  height: auto;
  margin-top: 20px;
}